{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ object.name }}</h3>
                </div>
                <div class="card-body">
                    <img src="{{ object.image|mymedia }}" height="200" class="img">
                    <h3 class="card-title pricing-card-title">{{ object.price }} руб.</h3>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.description }}</li>
                    </ul>
                    {% if version %}
                        <p>Номер версии: {{version.version_number}}</p>
                        <p>Название версии: {{version.version_name}}</p>
                    {% endif %}
                    <div class="col-12">
                    <a href="{% url 'catalog:update_product' object.pk %}" class="btn btn-outline-primary">Редактировать</a>
                    <a href="{% url 'catalog:delete_product' object.pk %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}